/* ForgotPassword.css */
.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #7fd9c3, #d3dea3);
}

.forgot-password-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.forgot-password-form {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forgot-password-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.forgot-password-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to bottom right, #0d3629, #54d1b8);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.forgot-password-button:hover {
  background: linear-gradient(to bottom right, #000000, #54d1b8);
}

.forgot-password-login {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.forgot-password-login a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password-login a:hover {
  text-decoration: underline;
}

/* Style for error message */
.error-message {
  margin-top: 10px;
  font-size: 14px;
  color: #dc3545;
  text-align: center;
}

@media screen and (max-width: 477px) {
  .forgottoast {
    width: 250px;
    height: 50px;
    font-size: 13px;
    padding: 10px;
    margin: 10px 80px;
  }
}
