.proced-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.user-details {
  flex: 0 0 70%;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.error {
  border: 1px solid red;
}

h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

input[type="email"],
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.cart-details {
  flex: 0 0 30%;
  margin-left: 20px;
  height: 80vh;
  margin-left: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.cart-item-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-item {
  flex-grow: 1;
}

.remove {
  cursor: pointer;
  color: #999;
  font-size: 16px;
  transition: color 0.3s ease;
}

.remove:hover {
  color: #666;
}

.discount-coupon input {
  width: calc(100% - 80px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.discount-coupon input:focus {
  border-color: #007bff;
}

.discount-coupon button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.discount-coupon button:hover {
  background-color: #218838;
}

.cart-total {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.cart-total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}

.cart-total span {
  font-size: 16px;
}

.cart-total hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .proced-container {
    flex-direction: column;
  }
  .procedtoast {
    width: 250px;
    height: 50px;
    font-size: 13px;
    padding: 10px;
    margin: 10px 80px;
  }

  .user-details,
  .cart-details {
    flex: 1;
    margin-bottom: 20px;
  }
}
